@media (min-width: 768px) {

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    main {
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    section:nth-child(3) {
        grid-column: span 2;
    }
}